body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('backgound.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
}

.container {
    margin-top: 100px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    position: relative;
    z-index: 1;
}

.hidden {
    display: none;
}

.start-button, .difficulty-button, .continue-button, .next-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-button {
    background-color: #28a745;
    color: white;
}

.difficulty-button.easy {
    background-color: #28a745;
    color: white;
}

.difficulty-button.medium {
    background-color: #ffc107;
    color: white;
}

.difficulty-button.hard {
    background-color: #dc3545;
    color: white;
}

.continue-button, .next-button {
    background-color: #28a745;
    color: white;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    width: 100%;
    max-width: 300px;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
}

.option-button:hover {
    background-color: #e0e0e0;
}

.questionnaire {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.timer {
    font-size: 18px;
    font-weight: bold;
    color: #dc3545; 
    margin-bottom: 20px;
}

.question-number {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.starting-text {
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Georgia', serif;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.restart-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

.restart-button:hover {
    background-color: #0056b3;
}
